@import '@/styles/_globals.scss';

a {
  color: $primary;
  position: relative;
  text-decoration: none;
}

.button {
  background-color: $primary;
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  transition: all 0.3s;
  border: 2px $primary solid;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
}

div.input {
  > input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 8px;
    outline: none;
    cursor: text;

    &:focus {
      border-color: $primary;
    }
  }

  > select {
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
    background: none;
    padding: 4px 8px;
    text-align: center;

    &:focus {
      border-color: $primary;
    }

    &:required:invalid {
      color: gray;
    }

    option {
      color: black;
    }
  }

  > label {
    display: block;
  }
}

.seperator {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 40px;
  height: 24px;

  &::before {
    content: url(/icons/dots.svg);
  }
}

.seperator-tall {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 40px;
  height: 24px;

  &::before {
    content: url(/icons/dots.svg);
  }
}